<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Đã là 1 vue instance -->
    <div id="root">
      <input type="text" v-model="message" />
      <p :id="message">Đây là data 'message' : {{ message }}</p>
      <br />
      <select v-model="vehical">
        <option value="1">Xe máy</option>
        <option value="2">Ô tô</option>
        <option value="3">Xe Bus</option>
        <option value="4">Tàu lửa</option>
      </select>

      <p>Đây là lựa chọn của user : {{getVehicalText(vehical)}}</p>
      <button @click="setMessage(Math.random())">Click me to random message</button>
    </div>
  </body>
  <!-- dùng cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="./main.js"></script>
</html>

<!-- directive -->
<!-- OFP -->
